<!-- Tasks Button -->
<button class="btn btn-lg btn-primary btn-block" id="tasks-btn" type="submit" style="margin: 30px 0 10px 0;background-image:'img/profile40x40.png'">Tasks</button>
<!-- Workouts Button -->
<button class="btn btn-lg btn-primary btn-block" id="workouts-btn" type="submit" style="margin: 30px 0 10px 0;">Workouts</button>
<!-- Alerts Button -->
<button class="btn btn-lg btn-primary btn-block" id="alerts-btn" type="submit" style="margin: 30px 0 10px 0;">Alerts</button>