<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!--	<div class="navbar-inner">-->
	<div class="container-fluid">
		<div class="navbar-header">
			<!-- Collapse Button -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-target">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Brand -->
			<img class="navbar-logo" src="img/favicon.ico"></img>
		</div>

		<!-- Collapsable Items -->
		<div class="collapse navbar-collapse" id="collapse-target">
			<!-- Nav Items-->
			<ul class="nav navbar-nav navbar-right" id="container" style="margin-right: 0;">
				<!--Add User Link-->

				<!-- User Profile -->
				<!--<li class="media" style=" margin: 0">-->
				<!-- User Pic -->
				<li>
					<img class="img-responsive" id="profile-image" src="img/profile40x40.png" style="margin:5px 10px">
				</li>
				<!-- User Name -->
				<li>
					<!--<div class="media-body">-->
					<h4 class="media-heading" id="profile-name" style="color:white; margin:5px 0 0 10px;"></h4>
					<!--</div>-->
					<a href="#" class="dropdown-toggle" id="logout-link" style="color: #999; font-size: x-small; padding: 0 0 0 10px;">Logout</a>
				</li>
				<!--</li>-->

			</ul>

		</div>
		<!--/.navbar-collapse -->

	</div>
	<!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add User</h4>
			</div>
			<div class="modal-body">
				<form role="form" id="user-form">
					<div class="form-group">
						<label for="inputEmail">E-mail</label>
						<input type="email" class="form-control" id="input-email" placeholder="user@sportsbi.com" required="required">
					</div>
					<div class="form-group">
						<label for="inputName">Full Name</label>
						<input type="text" class="form-control" id="input-name" placeholder="Bob Smith" required="required">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" data-target="#user-form" class="btn btn-primary" id="save-btn">Save changes</button>
			</div>
		</div>
	</div>
</div>
<!-- End Modal -->



