<form class="form-signin" role="form">
	<h2 class="form-signin-heading">Please Sign In</h2>

	<!-- Username Input -->
	<input required autofocus id="usernameEntry" type="email" class="form-control username" placeholder="E-mail" mouseev="true" autocomplete="off" keyev="true" clickev="true">

	<!-- Password Input -->
	<input required id="passwordEntry" type="password" class="form-control password" placeholder="Password" mouseev="true" autocomplete="off" keyev="true" clickev="true">

	<!-- Registration Input -->
	<input required id="keyEntry" type="text" class="form-control key" placeholder="Registration Key" mouseev="true" autocomplete="off" keyev="true" clickev="true">

	<!-- First Password Entry -->
	<input required id="newPasswordEntry" type="password" class="form-control new-password" placeholder="Create Password" mouseev="true" autocomplete="off" keyev="true" clickev="true">

	<!-- Confirm Password -->
	<input required id="confirmPasswordEntry" type="password" class="form-control confirm-password" placeholder="Confirm Password" mouseev="true" autocomplete="off" keyev="true" clickev="true">

	<!-- Sign In Button -->
	<button class="btn btn-lg btn-primary btn-block" id="signin-btn" type="submit" data-login-type="login" style="margin: 30px 0 10px 0;">Sign In</button>

	<!-- First Time Link -->
	<a href="#" id="first-time-link">First time user? Click here!</a>
</form>