.content {
	padding-top: 55px;
	padding-bottom: 20px;
	min-width: 260px;
}
.navbar-logo {
	height: 50px;
	padding: 5px 0 5px 5px;
}
.chart-container {
	min-height: 300px;
	min-width: 200px;
}
.chart-placeholder {
	min-height: 300px;
}
.weather-container {
	min-height: 300px;
	padding-top: 40px;
}
.weather-img-holder {
	height: 45px;
	width: 45px;
}
.weather-vertical-list {
	list-style-type: none;
	margin-bottom: 30px;
}
.form-signin {
	max-width: 330px;
	min-width: 2;
	margin: 0 auto;
	padding: 0 5px;
}
.form-signin .username {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin .password {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.form-signin .key {
	display: none;
}
.form-signin .new-password {
	display: none;
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin .confirm-password {
	display: none;
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.logout-link {
	color: white;
	font-size: x-small;
	padding: 0 0 0 10px;
}