
html.js .accessibility {

	display: none;

}

html,

body,

div,

span,

applet,

object,

iframe,

h1,

h2,

h3,

h4,

h5,

h6,

p,

blockquote,

pre,

a,

abbr,

acronym,

address,

big,

cite,

code,

del,

dfn,

em,

font,

img,

ins,

kbd,

q,

s,

samp,

small,

strike,

strong,

sub,

sup,

tt,

var,

b,

u,

i,

center,

dl,

dt,

dd,

ol,

ul,

li,

fieldset,

form,

label,

legend,

table,

caption,

tbody,

tfoot,

thead,

tr,

th,

td {

	margin-bottom: 0;

	margin-left: 0;

	margin-right: 0;

	margin-top: 0;

	padding-left: 0;

}

body {

	line-height: 1;

}

.group:after {

	content: ".";

	display: block;

	height: 0;

	clear: both;

	visibility: hidden;

}

.arrowDown,

.arrowUp {

	background-position: 132px 10px;

	background-repeat: no-repeat;

}

.result-filter {

	-moz-border-bottom-colors: #ffffff;

	-moz-border-image: none;

	-moz-border-left-colors: #ffffff;

	-moz-border-right-colors: #ffffff;

	-moz-border-top-colors: #ffffff;

	background-color: rgb(247, 247, 247);

	border-bottom-color: #ffffff;

	border-bottom-style: solid;

	border-bottom-width: 1px;

	float: left;

	overflow-x: hidden;

	overflow-y: hidden;

	padding-bottom: 0px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 0px;

	min-height: 8px;

	overflow: visible;

	z-index: 2;

}

p.filter-name {

	color: #000000;

	font-size: 11px;

	padding: 5px;

	margin: 0px;

	cursor: default;

}

p.filter-choice {

	color: #000000;

	font-size: 1.1em;

	margin-top: 7px;

}

ul.filter-selection {

	margin-top: 7px;

}

ul.filter-selection li:first-child {

	padding-top: 0;

}

ul.filter-selection li {

	border-bottom-color: #333333;

	border-bottom-style: inset;

	border-bottom-width: 1px;

	clear: both;

	color: #FFFFFF;

	cursor: pointer;

	font-size: 1.1em;

	padding-bottom: 2px;

	padding-left: 0;

	padding-right: 0;

	padding-top: 3px;

	width: 218px;

	/*Update*/

}

ul.filter-selection li input {

	background-color: #FFFFFF;

	display: block;

	float: right;

	margin-bottom: 0;

	margin-left: 0;

	margin-right: 0;

	margin-top: 0;

	padding-bottom: 0;

	padding-left: 0;

	padding-right: 0;

	padding-top: 0;

}

div.filter-scroll {

	clear: both;

	margin: 0pt;

}

div.filter-scroll .viewport {

	min-height: 122px;

	overflow: hidden;

	position: relative;

	background: white;

}

div.filter-scroll .overview {

	left: 7pt;

	position: absolute;

	top: 0pt;

	margin: 0 auto;

}

div.filter-scroll .thumb .end,

div.filter-scroll .thumb {

	background-color: rgb(150, 150, 150);

}

div.filter-scroll .scrollbar {

	float: right;

	position: relative;

	width: 10px;

}

div.filter-scroll .track {

	background-color: rgb(247, 247, 247);

	height: 100%;

	margin-top: 6px;

	position: relative;

	width: 10px;

}

div.filter-scroll .thumb {

	cursor: pointer;

	height: 10px;

	overflow: hidden;

	position: absolute;

	top: 0pt;

	width: 10px;

}

div.filter-scroll .thumb .end {

	height: 5px;

	overflow: hidden;

	width: 8px;

}

div.filter-scroll .disable {

	display: none;

}

div.filter-scroll .disable + .viewport {

	padding-left: 5px;

}

div.filter-scroll .disable + .viewport ul.filter-selection li {} div.filter-scroll .disable + .viewport .ui-button {

	background-position: 122px 2px !important;

}

.result-filter .ui-button-text-only .ui-button-text {

	line-height: 1.1em;

	padding: 0pt 15px 0pt 0pt;

}

.price .ui-state-default {

	background: url("../img/slider-icon.png") repeat scroll 50% 50% transparent;

}

.filter-selection label.ui-button span {

	width: 218px;

	/*Update*/

}

.filter-selection label.ui-state-default {

	background: url("../img/unchecked.png") no-repeat scroll 109px 2px transparent;

	color: #000000;

	text-align: left;

}

.filter-selection label.ui-state-active {

	background-image: url("../img/checked.png");

	color: #ff21ff;

}

.result-filter .ui-button {

	display: block;

}

.filtergroup {

	overflow: auto;

	z-index: 2;

	position: absolute;

	background-color: transparent;

}

.checkboxlist {

	background-color: rgb(255, 255, 255);

	height: 20px !important;

	font-size: 0.8em;

	margin-top: 5px;

	/*width:110px;*/

}

.checkboxlist > tbody > tr > td > input[type="checkbox"] {

	float: right;

	/*background-color:#f613e9;*/

	/*color:#f613e9;*/

	height: 0px;

	z-index: -999;

}

.checkboxlist > tbody > tr > td {

	width: 200px;

	/*Update*/

	padding: 2px 0px;

}

.checkboxlist > tbody > tr > td > input[type="checkbox"]:checked {

	float: right;

	background-color: #000000;

	width: 0px;

	height: 0px;

	z-index: -999;

}

.checkboxlist > tbody > tr > td > label {

	float: left;

	width: 200px;

	/*Update*/

	color: #000;

	font-size: 12px;

	padding-right: 10px;

}

.checkboxlist tbody tr td {

	background-color: transparent;

	cursor: pointer;

}

.fontColor {

	color: #000000 !important;

}

.first {

	left: 0;

}

.second {

	left: 155px;

}

.third {

	left: 310px;

}

.fourth {

	left: 465px;

}

.fifth {

	left: 615px;

}

.arrow {

	background-color: rgb(243, 243, 243);

	display: block;

	margin-top: 0px;

	margin-right: 2px;

	min-width: 260px;

	margin: 0 auto;

	padding: 3px;

}

.searchTable {

	position: absolute;

	float: right;

	right: 24px;

	top: 12px;

	/*background-color:#fff;*/

}

.searchTable td {

	border: 1px solid #CCC

}

.searchTable input[type="text"] {

	border: 0px solid white;

}

.searchTable img {

	padding-bottom: 2px;

}

.Italics {

	font-style: italic;

	color: Gray;

}

.Normal {

	font-style: normal;

	color: Black;

}

.clearAll {

	position: absolute;

	margin-left: 800px;

	font-size: 10px;

}

.clearAll a:link {

	color: #39c;

	text-decoration: none;

}

.clearAll a:visited {

	color: #39c;

	text-decoration: none;

}

.clearAll a:hover {

	color: #39c;

	text-decoration: none;

}

.clearAll a:active {

	color: #39c;

	text-decoration: none;

}

.clearAll a {

	font-weight: bold;

}

.pageTitle {

	padding: 10px;

	line-height: 16px;

	font-size: 12px;

}

.checkboxlist input[type="checkbox"] {

	float: right;

}

input[type="checkbox"] + label {

	cursor: pointer;

	/*background-image:url("../img/Unchecked.jpg");*/

	background-position: 100px 0px;

	background-repeat: no-repeat;

	z-index: 2;

	border-bottom: 1px solid rgb(150, 150, 150);

	color: #000;

	padding-right: 10px;

	width: 100px;

	/*Update*/

	font-size: 10px;

}

input[type="checkbox"]:checked + label,

input[type="checkbox"]:active + label {

	cursor: pointer;

	/*background-image:url("../img/Checked.jpg");*/

	background-position: 100px 0px;

	background-repeat: no-repeat;

	color: #000000;

	padding-right: 10px;

	width: 200px;

	/*Update*/

	font-size: 10px;

}

.selectedFilters {

	font-size: 13px;

	padding-left: 5px;

	visibility: hidden !important;

}

.clearall {

	z-index: -10;

	font-size: 10px;

	position: absolute;

	top: 20px;

	margin-left: 830px;

	color: Black;

	font-weight: bold;

}

.result-filter > span > label {

	font-size: 12px;

	color: #000;

	padding-right: 5px;

}

span.filterLabel {

	/*Aligns the filter header with the filter group name*/

	padding-left: 5px;

}

.TransparentGrayBackground {

	position: absolute;

	top: 0;

	left: 0;

	background-color: #676767;

	filter: alpha(opacity=70);

	opacity: 0.7;

	background-image: url("/_layouts/SPIEBRoadmapV2/Images/preloader.gif");

	background-position: center 400px;

	background-repeat: no-repeat;

	height: 100%;

	width: 100%;

	min-height: 100%;

	min-width: 100%;

	z-index: 999;

}

.BtnEnter,

.searchbtn {

	float: right;

}

.hide {

	display: none !important;

}

/* New Filter UI Design Overwrites */

.filter-head {

	display: inline;

	background-color: rgb(239, 238, 236);

	text-transform: uppercase;

	width: 250px;

	cursor: pointer;

}

.filter-child-row {

	padding-left: 5px;

}

.checkboxlist tbody tr td {

	background-color: rgb(255, 255, 255);

	font-size: 14px;

	text-transform: none;

}

.filterdropdownmenu {

	/*width: 600px; Update*/

	/*left: -534px !important; Update*/

	left: -146px !important;

}

.result-filter {

	cursor: pointer;

	background-color: rgb(255, 255, 255);

	width: 194px;

}

.arrowImage {

	padding-right: 5px;

	padding-left: 3px;

	margin-top: -2px;

}

.checkbox-img {

	padding-right: 5px;

	padding-top: 3px;

	padding-bottom: 3px;

	display: inline;

}

.checkbox-label {

	display: inline;

	font-size: 11px;

	cursor: pointer;

}