.widget {
	background: #fff;
	border: 1px solid@gray-light;

border-radius: .25em;
	.box-shadow(0 1px 4px rgba(0, 0, 0, .065));
	padding: 0 20px;
	//margin: 5px;
	height: 400px;
	//width: 300px;
}
.widget-wrapper {
	padding-top: 10px;
}